*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (min-width:1025px) and (max-width:2000px) {
    h1{
        margin: 80px 80px 35px;
        font-size: 50px;
    }
    .img1{
        display: flex;
        flex-wrap: wrap;
    }
    p{
        display: flex;
        font-size: 20px;
        margin-left: 85px;
        width: 550px;
    }
    #photo1{
        margin-left: 160px;
        width: 250px;
    }
    #ellips1{
        margin-left: 740px;
        margin-top: -50px;
        z-index: -1;
    }

     #photo2{
        margin-left: 130px;
        width: 200px;
    }
    #ellips2{
        margin-left: 120px;
        margin-top: -15px;
        width: 200px;
        z-index: -1;
    }
    .img2{
    display: flex;
    margin-top: 70px;
    margin-left: -80px;
    width: 160px;
    flex-wrap: wrap;
}
.text123{
    display: flex;
    /* width: 200px;
    height: 200px; */
    margin-left: 200px;
    margin-top: 100px;
    gap: 50px;

}
.text{    
    width: 200px;
    height: 200px;
}
.stroka3{
    display: flex;

}
}


@media screen and (min-width:769px) and (max-width:1024px) {
    h1{
        margin: 60px 60px 35px;
        font-size: 30px;
    }
    .img1{
        display: flex;
        flex-wrap: wrap;
    }
    p{
        display: flex;
        font-size: 16px;
        margin-left: 55px;
        width: 400px;
    }
    #photo1{
        margin-left: 560px;
        margin-top: -250px;
        width: 170px;
    }
    #ellips1{
        margin-left: 500px;
        margin-top: -70px;
        width: 270px;
        z-index: -1;
    }

     #photo2{
        width: 0px;
    }
    #ellips2{
        width: 0px;
    }
    .img2{
    display: flex;
    margin-top: 70px;
    margin-left: -80px;
    width: 0px;
    flex-wrap: wrap;
}
.text123{
    display: flex;
    /* width: 200px;
    height: 200px; */
    margin-left: 85px;
    margin-top: 50px;
    gap: 10px;
}
.text{    
    
    width: 150px;
    height: 200px;
}
.stroka3{
    display: flex;

}
}


@media screen and (min-width:300px) and (max-width:768px) {
    h1{
        margin: 40px 40px 25px;
        font-size: 30px;
    }
    .img1{
        display: flex;
        flex-wrap: wrap;
    }
    p{
        display: flex;
        font-size: 14px;
        margin-left: 55px;
        width: 400px;
    }
    #photo1{
        margin-left: -350px;
        margin-top: 220px;
        width: 160px;
    }
    #ellips1{
        margin-left: -195px;
        margin-top: 390px;
        width: 230px;
        z-index: -1;
    }

     #photo2{
        width: 0px;
    }
    #ellips2{
        width: 0px;
    }
    .img2{
    display: flex;
    margin-top: 70px;
    margin-left: -80px;
    width: 0px;
    flex-wrap: wrap;
}
.text123{
    display: flex;
    /* width: 200px;
    height: 200px; */
    margin-left: 85px;
    margin-top: 50px;
    gap: 10px;
}
.text{    
    
    width: 150px;
    height: 200px;
}
.stroka3{
    display: flex;

}
}