div{
      width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid black;
  border-right-color: transparent;
  animation: spin 1s linear infinite;

}
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}